WMS.GuiasXConfirmar/Connected Services/OrdenVentaWCF/OrdenVentaWCF3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGlosaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GlosaBE" nillable="true" type="tns:GlosaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGlosaBE" nillable="true" type="tns:ArrayOfGlosaBE" />
  <xs:complexType name="GlosaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGlosa" type="xs:decimal" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GlosaBE" nillable="true" type="tns:GlosaBE" />
</xs:schema>