WMS.GuiasXConfirmar/Connected Services/AgendaWCF/AgendaWCF4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/AgendaWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:import schemaLocation="http://localhost:49648/AgendaWCF.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" />
  <xs:element name="Agenda_ListarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarClienteResult" nillable="true" type="q1:ArrayOfgsAgenda_ListarClienteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarVendedorResult" nillable="true" type="q2:ArrayOfgsAgenda_ListarVendedorResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarVendedores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarVendedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarVendedoresResult" nillable="true" type="q3:ArrayOfgsVendedores_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idVendedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarClientesResult" nillable="true" type="q4:ArrayOfgsClientesXVendedor_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_BuscarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineaCredito" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="fechaVencimiento" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="TC" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_BuscarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_BuscarClienteResult" nillable="true" type="q5:VBG01134Result" />
        <xs:element minOccurs="0" name="lineaCredito" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="fechaVencimiento" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="TC" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgendaAnexo_ListarDireccionCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgendaAnexo_ListarDireccionClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="AgendaAnexo_ListarDireccionClienteResult" nillable="true" type="q6:ArrayOfVBG00167Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgendaAnexo_ListarAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgendaAnexo_ListarAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="AgendaAnexo_ListarAlmacenResult" nillable="true" type="q7:ArrayOfVBG00746Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgendaAnexo_ListarAlmacenCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgendaAnexo_ListarAlmacenClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="AgendaAnexo_ListarAlmacenClienteResult" nillable="true" type="q8:ArrayOfVBG03678Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgendaAnexoReferencia_ListarPorSucursal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgendaAnexo" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgendaAnexoReferencia_ListarPorSucursalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="AgendaAnexoReferencia_ListarPorSucursalResult" nillable="true" type="q9:ArrayOfVBG02699Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_LineaCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idMoneda" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_LineaCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="Agenda_LineaCreditoResult" nillable="true" type="q10:Agenda_LimiteCreditoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarContactoResult" nillable="true" type="q11:ArrayOfgsAgenda_ListarContactoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_BucarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="existe" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_BucarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_BucarProveedorResult" nillable="true" type="q12:gsAgenda_BucarProveedorResult" />
        <xs:element minOccurs="0" name="existe" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarProveedorResult" nillable="true" type="q13:ArrayOfgsAgenda_ListarProveedorResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarTransportista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarTransportistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarTransportistaResult" nillable="true" type="q14:ArrayOfgsAgenda_ListarTransportistaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_RegistrarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nroRUC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_RegistrarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Agenda_RegistrarProveedorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarChofer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Id_Transportista" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id_Chofer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarChoferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarChoferResult" nillable="true" type="q15:ArrayOfgsChofer_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarPlaca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Id_Transportista" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id_Vehiculo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarPlacaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarPlacaResult" nillable="true" type="q16:ArrayOfgsPlaca_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_BuscarClienteDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Id_Agenda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_BuscarClienteDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_BuscarClienteDetalleResult" nillable="true" type="q17:ArrayOfgsAgenda_BuscarClienteDetalleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarPlaca_Despacho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Id_Transportista" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id_Vehiculo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="despacho" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarPlaca_DespachoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarPlaca_DespachoResult" nillable="true" type="q18:ArrayOfgsPlaca_DespachoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarZonaSectorista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_sectorista" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarZonaSectoristaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarZonaSectoristaResult" nillable="true" type="q19:ArrayOfgsZonaSectorista_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_BuscarEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_BuscarEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_BuscarEmpresaResult" nillable="true" type="q20:ArrayOfAgenda_BuscarEmpresaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarSectorista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarSectoristaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarSectoristaResult" nillable="true" type="q21:ArrayOfgsUsuario_SectoristaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_zona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarZonaResult" nillable="true" type="q22:ArrayOfgsZona_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarVendedorProyectado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_zona" type="xs:int" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarVendedorProyectadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarVendedorProyectadoResult" nillable="true" type="q23:ArrayOfgsVendedor_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarCorreos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_zona" type="xs:int" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarCorreosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarCorreosResult" nillable="true" type="q24:ArrayOfgsClientesCorreo_EnvioResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarGarantia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_zona" type="xs:int" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarGarantiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarGarantiaResult" nillable="true" type="q25:ArrayOfgsAgenda_ListarGarantiaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ValidarCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="existeCliente" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="existeCorreo" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ValidarCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ValidarCorreoResult" nillable="true" type="q26:VBG01134_validarCorreoResult" />
        <xs:element minOccurs="0" name="existeCliente" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="existeCorreo" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_RegistrarCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Correlativo" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_RegistrarCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Correlativo" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_BuscarCliente_Contado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineaCredito" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="fechaVencimiento" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idMoneda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_BuscarCliente_ContadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_BuscarCliente_ContadoResult" nillable="true" type="q27:VBG01134Result" />
        <xs:element minOccurs="0" name="lineaCredito" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="fechaVencimiento" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_TipoCambio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="FechaDesde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaHasta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ID_Moneda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_TipoCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_TipoCambioResult" nillable="true" type="q28:RPT00015Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarObservacionesAgenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarObservacionesAgendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ListarObservacionesAgendaResult" nillable="true" type="q29:ArrayOfgsListarObservacionesAgendaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLogLineaCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLogLineaCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ListarLogLineaCreditoResult" nillable="true" type="q30:ArrayOfgsListarLogLineaCreditoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperaCorreoAgenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperaCorreoAgendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="RecuperaCorreoAgendaResult" nillable="true" type="q31:ArrayOfGS_RecuperaCorreoAgendaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarContacto_Estado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agenda_ListarContacto_EstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Agenda_ListarContacto_EstadoResult" nillable="true" type="q32:ArrayOfgsAgenda_ContactoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>