WMS.GuiasXConfirmar/Connected Services/AgendaWCF/AgendaWCF43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Agenda_LimiteCreditoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgendaNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditoDisponibleMonedaSol" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EvaluarLimCredito" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LimCreditoMonedaSol" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LimCreditoMonedaVta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonedaNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaldoCtaCteMonedaSol" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agenda_LimiteCreditoBE" nillable="true" type="tns:Agenda_LimiteCreditoBE" />
</xs:schema>