TESO.Amerra_Docs/Service References/MerlinWCF/MerlinWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MerlinWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49648/MerlinWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49648/MerlinWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49648/MerlinWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMerlinWCF_NotificacionMerlin_InputMessage">
    <wsdl:part name="parameters" element="tns:NotificacionMerlin" />
  </wsdl:message>
  <wsdl:message name="IMerlinWCF_NotificacionMerlin_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotificacionMerlinResponse" />
  </wsdl:message>
  <wsdl:message name="IMerlinWCF_ActualizarNotificacionMerlin_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarNotificacionMerlin" />
  </wsdl:message>
  <wsdl:message name="IMerlinWCF_ActualizarNotificacionMerlin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarNotificacionMerlinResponse" />
  </wsdl:message>
  <wsdl:portType name="IMerlinWCF">
    <wsdl:operation name="NotificacionMerlin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerlinWCF/NotificacionMerlin" message="tns:IMerlinWCF_NotificacionMerlin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerlinWCF/NotificacionMerlinResponse" message="tns:IMerlinWCF_NotificacionMerlin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarNotificacionMerlin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerlinWCF/ActualizarNotificacionMerlin" message="tns:IMerlinWCF_ActualizarNotificacionMerlin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerlinWCF/ActualizarNotificacionMerlinResponse" message="tns:IMerlinWCF_ActualizarNotificacionMerlin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMerlinWCF" type="tns:IMerlinWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotificacionMerlin">
      <soap:operation soapAction="http://tempuri.org/IMerlinWCF/NotificacionMerlin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarNotificacionMerlin">
      <soap:operation soapAction="http://tempuri.org/IMerlinWCF/ActualizarNotificacionMerlin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MerlinWCF">
    <wsdl:port name="BasicHttpBinding_IMerlinWCF" binding="tns:BasicHttpBinding_IMerlinWCF">
      <soap:address location="http://localhost:49648/MerlinWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>