TESO.Amerra_Docs/Service References/MerlinWCF/MerlinWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgsNotificacionesMerlinResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="gsNotificacionesMerlinResult" nillable="true" type="tns:gsNotificacionesMerlinResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgsNotificacionesMerlinResult" nillable="true" type="tns:ArrayOfgsNotificacionesMerlinResult" />
  <xs:complexType name="gsNotificacionesMerlinResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asunto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNotificacion" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="gsNotificacionesMerlinResult" nillable="true" type="tns:gsNotificacionesMerlinResult" />
</xs:schema>