WMS.GuiasXConfirmar/Connected Services/ItemECF/ItemWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/ItemWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="Item_ListarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_ListarProductoResult" nillable="true" type="q1:ArrayOfgsItem_ListarProductoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idProducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cantidad" type="xs:decimal" />
        <xs:element minOccurs="0" name="idTipoEnlaceContable" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idDireccionOrigen" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="idDireccionDestino" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="idAlmacen" type="xs:decimal" />
        <xs:element minOccurs="0" name="StockDisponible" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="TC_Cambio" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_BuscarResult" nillable="true" type="q2:gsItem_BuscarResult" />
        <xs:element minOccurs="0" name="StockDisponible" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="TC_Cambio" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarTipoGastoCC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarTipoGastoCCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_ListarTipoGastoCCResult" nillable="true" type="q3:ArrayOfgsItem_ListarTipoGastoCCResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_AlmacenAnexo" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_ListarStockResult" nillable="true" type="q4:ArrayOfgsItem_ListarStockResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarPrecioCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ID_Agenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarPrecioClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_ListarPrecioClienteResult" nillable="true" type="q5:ArrayOfgsItem_ListarPrecioClienteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_BuscarPrecioCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idPrecioCliente" type="xs:decimal" />
        <xs:element minOccurs="0" name="precioEspecial" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="vigInicio" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vigFinal" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objCliente" nillable="true" type="q6:VBG01134Result" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objProducto" nillable="true" type="q7:VBG01124Result" />
        <xs:element minOccurs="0" name="ID_Item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_BuscarPrecioClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="precioEspecial" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="vigInicio" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vigFinal" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objCliente" nillable="true" type="q8:VBG01134Result" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objProducto" nillable="true" type="q9:VBG01124Result" />
        <xs:element minOccurs="0" name="ID_Item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_RegistrarPrecioCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idClienteProd" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="ID_Item" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_Cliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vigInicio" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vigFinal" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="precioEspecial" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_RegistrarPrecioClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClienteProd" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_BuscarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ID_Item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_BuscarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_BuscarProductoResult" nillable="true" type="q10:VBG01124Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_EliminarProductoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ID_ItemCliente" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_EliminarProductoClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_ListarResult" nillable="true" type="q11:ArrayOfgsItem_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_Listar_ProductosCompras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoriaItem" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_Listar_ProductosComprasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_Listar_ProductosComprasResult" nillable="true" type="q12:ArrayOfVBG00321Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_CategoriasGxOpciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intTipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_CategoriasGxOpcionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_CategoriasGxOpcionesResult" nillable="true" type="q13:ArrayOfVBG04054Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarProducto_Stock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarProducto_StockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_ListarProducto_StockResult" nillable="true" type="q14:ArrayOfgsItem_ListarProducto_StockResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarStock_Comercial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_AlmacenAnexo" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="G2" type="xs:int" />
        <xs:element minOccurs="0" name="G5" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarStock_ComercialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_ListarStock_ComercialResult" nillable="true" type="q15:ArrayOfgsItem_ListarStock_ComercialResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_Listar_GestionStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="id_agendanexo" type="xs:int" />
        <xs:element minOccurs="0" name="id_item" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:float" />
        <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Operacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_Listar_GestionStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_Listar_GestionStockResult" nillable="true" type="q16:ArrayOfsp_GestionStock_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_Mantenimiento_GestionStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="id_agendanexo" type="xs:int" />
        <xs:element minOccurs="0" name="id_item" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:float" />
        <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Operacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_Mantenimiento_GestionStockResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenesFlete_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_agendanexo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenesFlete_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="AlmacenesFlete_ListarResult" nillable="true" type="q17:ArrayOfspAlmacenesFlete_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>