TESO.Amerra_Docs/Service References/CorreoWCF/CorreoWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CorreoWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49648/CorreoWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49648/CorreoWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICorreoWCF_EnviarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreo" />
  </wsdl:message>
  <wsdl:message name="ICorreoWCF_EnviarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="ICorreoWCF_MerlinEnviarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:MerlinEnviarCorreo" />
  </wsdl:message>
  <wsdl:message name="ICorreoWCF_MerlinEnviarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:MerlinEnviarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="ICorreoWCF_MerlinEnvioCorreoAdjunto_InputMessage">
    <wsdl:part name="parameters" element="tns:MerlinEnvioCorreoAdjunto" />
  </wsdl:message>
  <wsdl:message name="ICorreoWCF_MerlinEnvioCorreoAdjunto_OutputMessage">
    <wsdl:part name="parameters" element="tns:MerlinEnvioCorreoAdjuntoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICorreoWCF">
    <wsdl:operation name="EnviarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICorreoWCF/EnviarCorreo" message="tns:ICorreoWCF_EnviarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICorreoWCF/EnviarCorreoResponse" message="tns:ICorreoWCF_EnviarCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MerlinEnviarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICorreoWCF/MerlinEnviarCorreo" message="tns:ICorreoWCF_MerlinEnviarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICorreoWCF/MerlinEnviarCorreoResponse" message="tns:ICorreoWCF_MerlinEnviarCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MerlinEnvioCorreoAdjunto">
      <wsdl:input wsaw:Action="http://tempuri.org/ICorreoWCF/MerlinEnvioCorreoAdjunto" message="tns:ICorreoWCF_MerlinEnvioCorreoAdjunto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICorreoWCF/MerlinEnvioCorreoAdjuntoResponse" message="tns:ICorreoWCF_MerlinEnvioCorreoAdjunto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICorreoWCF" type="tns:ICorreoWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarCorreo">
      <soap:operation soapAction="http://tempuri.org/ICorreoWCF/EnviarCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MerlinEnviarCorreo">
      <soap:operation soapAction="http://tempuri.org/ICorreoWCF/MerlinEnviarCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MerlinEnvioCorreoAdjunto">
      <soap:operation soapAction="http://tempuri.org/ICorreoWCF/MerlinEnvioCorreoAdjunto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CorreoWCF">
    <wsdl:port name="BasicHttpBinding_ICorreoWCF" binding="tns:BasicHttpBinding_ICorreoWCF">
      <soap:address location="http://localhost:49648/CorreoWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>