TESO.Amerra_Docs/Service References/CorreoWCF/CorreoWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EnviarCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ccCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MerlinEnviarCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ccCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MerlinEnviarCorreoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MerlinEnvioCorreoAdjunto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ccCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MerlinEnvioCorreoAdjuntoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>