WMS.GuiasXConfirmar/Connected Services/ImpuestosWCF/ImpuestoWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImpuestoWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/ImpuestoWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/ImpuestoWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/ImpuestoWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImpuestoWCF_Impuesto_ListarPorItem_InputMessage">
    <wsdl:part name="parameters" element="tns:Impuesto_ListarPorItem" />
  </wsdl:message>
  <wsdl:message name="IImpuestoWCF_Impuesto_ListarPorItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:Impuesto_ListarPorItemResponse" />
  </wsdl:message>
  <wsdl:message name="IImpuestoWCF_Impuesto_BuscarPorPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:Impuesto_BuscarPorPedido" />
  </wsdl:message>
  <wsdl:message name="IImpuestoWCF_Impuesto_BuscarPorPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:Impuesto_BuscarPorPedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="IImpuestoWCF">
    <wsdl:operation name="Impuesto_ListarPorItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IImpuestoWCF/Impuesto_ListarPorItem" message="tns:IImpuestoWCF_Impuesto_ListarPorItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImpuestoWCF/Impuesto_ListarPorItemResponse" message="tns:IImpuestoWCF_Impuesto_ListarPorItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Impuesto_BuscarPorPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IImpuestoWCF/Impuesto_BuscarPorPedido" message="tns:IImpuestoWCF_Impuesto_BuscarPorPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImpuestoWCF/Impuesto_BuscarPorPedidoResponse" message="tns:IImpuestoWCF_Impuesto_BuscarPorPedido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImpuestoWCF" type="tns:IImpuestoWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Impuesto_ListarPorItem">
      <soap:operation soapAction="http://tempuri.org/IImpuestoWCF/Impuesto_ListarPorItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Impuesto_BuscarPorPedido">
      <soap:operation soapAction="http://tempuri.org/IImpuestoWCF/Impuesto_BuscarPorPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImpuestoWCF">
    <wsdl:port name="BasicHttpBinding_IImpuestoWCF" binding="tns:BasicHttpBinding_IImpuestoWCF">
      <soap:address location="http://intranet.gruposilvestre.com.pe/WCFServices/ImpuestoWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>