WMS.GuiasXConfirmar/Connected Services/WmsWCF/WmsWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/WmsWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="WmsPendientes_Envio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsPendientes_EnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="WmsPendientes_EnvioResult" nillable="true" type="q1:ArrayOfgsWMSPendientes_EnvioResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsProduccion_PendientesRecibir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsProduccion_PendientesRecibirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="WmsProduccion_PendientesRecibirResult" nillable="true" type="q2:ArrayOfgsWMSProduccion_PendientesRecibirResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsPedidosPendientes_UpdateEstilos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDeAlbaran" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsPedidosPendientes_UpdateEstilosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WMS_RegistrarGuiaCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAlmacen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WMS_RegistrarGuiaCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WMS_RegistrarGuiaCompraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WMS_ObtenerOrdenCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nroRegistro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WMS_ObtenerOrdenCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="WMS_ObtenerOrdenCompraResult" nillable="true" type="q3:WMS_ObtenerOrdenCompraResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WMS_RegistrarGuiaCompraLinea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Op" type="xs:int" />
        <xs:element minOccurs="0" name="OrdenCompraOp" type="xs:int" />
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unidadesRecibidas" type="xs:int" />
        <xs:element minOccurs="0" name="noLote" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WMS_RegistrarGuiaCompraLineaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WMS_RegistrarGuiaCompraLineaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarGuiaCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="op" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarGuiaCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WMS_Produccion_Recibir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_almacen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="almacenAnexo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WMS_Produccion_RecibirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WMS_Produccion_RecibirResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WMS_ProduccionLinea_Recibir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="op" type="xs:int" />
        <xs:element minOccurs="0" name="linea" type="xs:int" />
        <xs:element minOccurs="0" name="ID_Item" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kardex" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:decimal" />
        <xs:element minOccurs="0" name="lote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaFabricacion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="proveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WMS_ProduccionLinea_RecibirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WMS_ProduccionLinea_RecibirResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsPedidosPendientes_Envio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsPedidosPendientes_EnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="WmsPedidosPendientes_EnvioResult" nillable="true" type="q4:ArrayOfVBG00518_WMSResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsPedidosPendientes_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="NroPedido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_Item" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CantidadPedido" type="xs:decimal" />
        <xs:element minOccurs="0" name="CantidaEntregada" type="xs:decimal" />
        <xs:element minOccurs="0" name="CantidadPendiente" type="xs:decimal" />
        <xs:element minOccurs="0" name="EstadoPedido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id_Amarre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsPedidosPendientes_InsertarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsPedidos_Confirmacion_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ruc_empresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsPedidos_Confirmacion_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="WmsPedidos_Confirmacion_ListarResult" nillable="true" type="q5:ArrayOfCargar_Pedidos_ConfirmacionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsRecepcion_Confirmacion_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ruc_empresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsRecepcion_Confirmacion_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="WmsRecepcion_Confirmacion_ListarResult" nillable="true" type="q6:ArrayOfCargar_Recepcion_ConfirmacionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsPedidosPendientes_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Lote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id_Amarre" type="xs:int" />
        <xs:element minOccurs="0" name="transferido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmsPedidosPendientes_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Wms_Produccion_UpdateEstilos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDeAlbaran" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Wms_Produccion_UpdateEstilosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>